<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: AS Vocab English Typed</title>
    <link rel="stylesheet" id="styleSheet" href="{% static 'home/appStyle.css' %}" />
    <script type="text/javascript">
        if (localStorage.getItem("theme") == "dark-mode") { document.write("<link rel='stylesheet' id='styleSheet' href='{% static 'home/AppStyleDark.css' %}'/>") }
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')
        #div_1 {}
        #div_2 { display: none }
    </style>
</head>
<body>
<div id="div_1">
    Translate <span id="starter" style="color:#02c3e0;">{{ ans_word_shaven }}</span><br>
    <input id="userInput" type="text" placeholder="Greek" maxlength="32" style="width: 300px; font-size: 25pt; margin-top: 15px; margin-bottom: 15px;" >
    <button id="pogBtn" class="infoPut" onclick="app()" style="width: 150px; height: 45px; font-size: 22pt;">Submit</button><br>
    <p style="font-size:21px;margin:0px 0px;line-height:1.5;">Answer with a Greek keyboard (no accents), or by using the below keyboard/key: to view the key, toggle 'showKey' on. &nbsp;<input id="hintButton" type="button" class="hint" value="Hint" onclick="revHint()"><span id="letter1" style="display:none;">: {{ letter1 }}...</span></p>
    <table id="lowerKey" class="keyTable" style="display:none;">
      <tbody>
        <tr>
            {% for i in key_lst1 %}<td style="padding: 3px 15px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in key_lst2 %}<td style="padding: 3px 15px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in key_lst3 %}<td style="padding: 3px 15px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in key_lst4 %}<td style="padding: 3px 15px;">{{ i }}</td>{% endfor %}
        </tr>
      </tbody>
    </table>
    <table id="upperKey" class="keyTable" style="display:none;">
      <tbody>
        <tr>
            {% for i in up_key_lst1 %}<td style="padding: 3px 13.375px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in up_key_lst2 %}<td style="padding: 3px 13.375px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in up_key_lst3 %}<td style="padding: 3px 13.375px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in up_key_lst4 %}<td style="padding: 3px 13.375px;">{{ i }}</td>{% endfor %}
        </tr>
      </tbody>
    </table>
    <table id="lower" class="keyTable">
      <tbody>
        <tr>
            {% for i in key_lst1 %}<td><input class="inTable" type="submit" onclick="typing(this.value)" value="{{ i }}" /></td>{% endfor %}
        </tr>
        <tr>
            {% for i in key_lst3 %}<td><input class="inTable" type="submit" onclick="typing(this.value)" value="{{ i }}" /></td>{% endfor %}
        </tr>
      </tbody>
    </table>
    <table id="upper" class="keyTable" style="display: none;">
      <tbody>
        <tr>
            {% for i in up_key_lst1 %}<td><input class="inTable" type="submit" onclick="typing(this.value)" value="{{ i }}" style="margin: 0px 3.375px;"/></td>{% endfor %}
        </tr>
        <tr>
            {% for i in up_key_lst3 %}<td><input class="inTable" type="submit" onclick="typing(this.value)" value="{{ i }}" style="margin: 0px 3.375px;"/></td>{% endfor %}
        </tr>
      </tbody>
    </table>
    <label class="switch" style="margin-right:3px;margin-left:0px;"><input id="capsLock" type="checkbox" onclick="caps()"><span class="slider"></span></label>caps<label class="switch" style="margin-right:3px;margin-left:12px;"><input id="showKey" type="checkbox" onclick="showKey()"><span class="slider"></span></label>showKey<button id="backSpace" onclick="back()" style="padding:0px 16px;height:45px;font-size:22pt;margin-left:12px;">delete</button><span id="spaceBack" style="display:none;">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</span>&nbsp;&emsp;&emsp;&emsp;<a href="/home">Home</a>
</div>
<div id="div_2">
    <p><span id="wrong" style="color:#f7510a">Incorrect!</span></p><span id="corrected" style="color:#f7510a;">{{ ans_greek_full }}:<br>{{ ans_word }}</span>
        <br><br><br><input id="nice" type="button" value="nice" onclick="updateContext()">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/home">Home</a>
</div>
    <script type="text/javascript">
        var members = "{{members_list}}".split(',').map(e => e.replace("&#x27;", "'"))
        members.push("{{ans_eng}}".replace("&#x27;", "'"))
        var membersPlus = members.filter(plusFilter).map(plusFunction)
        const iotaDict = {'Η': 'ᾘ', 'Α': 'ᾈ', 'Ω': 'ᾨ', 'Ἡ': 'ᾙ', 'Ὡ': 'ᾩ', 'Ἁ': 'ᾉ', 'α': 'ᾳ', 'η': 'ῃ', 'ω': 'ῳ', 'ὡ': 'ᾡ', 'ἁ': 'ᾁ', 'ἡ': 'ᾑ'}
        const roughDict = {'Ε': 'Ἑ', 'Α': 'Ἁ', 'Ι': 'Ἱ', 'Υ': 'Ὑ', 'Η': 'Ἡ', 'Ρ': 'Ῥ', 'Ο': 'Ό', 'Ω': 'Ὡ', 'ᾨ': 'ᾩ', 'ᾈ': 'ᾉ', 'ᾘ': 'ᾙ', 'ι': 'ἱ', 'υ': 'ὑ', 'η': 'ἡ', 'ρ': 'ῥ', 'ο': 'ὁ', 'ε': 'ἑ', 'α': 'ἁ', 'ω': 'ὡ', 'ῳ': 'ᾡ', 'ᾳ': 'ᾁ', 'ῃ': 'ᾑ'}
        const convKey = {'A': 'Α', '\'A': 'Ἁ', 'A!': 'ᾼ', 'B': 'Β', 'G': 'Γ', 'D': 'Δ', 'E': 'Ε', 'Z': 'Ζ', 'N': 'Η', 'TH': 'Θ', 'I': 'Ι', 'K': 'Κ', 'L': 'Λ', 'M': 'Μ', 'V': 'Ν', 'KS': 'Ξ', 'O': 'Ο', 'P': 'Π', 'R': 'Ρ', 'S': 'Σ', 'T': 'Τ', 'U': 'Υ', 'PH': 'Φ', 'X': 'Χ', 'PS': 'Ψ', 'W': 'Ω', 'a': 'α', '\'a': 'ἁ', 'a!': 'ᾳ', 'b': 'β', 'g': 'γ', 'd': 'δ', 'e': 'ε', 'z': 'ζ', 'n': 'η', 'th': 'θ', 'i': 'ι', 'k': 'κ', 'l': 'λ', 'm': 'μ', 'v': 'ν', 'ks': 'ξ', 'o': 'ο', 'p': 'π', 'r': 'ρ', 's': 'ς', 't': 'τ', 'u': 'υ', 'ph': 'φ', 'x': 'χ', 'ps': 'ψ', 'w': 'ω', 'σ': 'ς'}
        var input = document.getElementById("userInput")
        var inputVal = ""
        var pos = 0
        var capsBool = false
        var keyBool = false
        var div1Display = true
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
            if (div1Display) { document.getElementById("pogBtn").click() } else { document.getElementById("nice").click() }
          } else { pos += 1 }
        })
        input.addEventListener('click', e => { pos = e.target.selectionEnd })
        function plusFunction(value) {
          var ind = value.indexOf("+")
          return value.slice(0, ind-1)
        }
        function plusFilter(value) { return value.includes("+") }
        function displayNone(value) { document.getElementById(value).style.display = "none" }
        function setDisplay(val) {
          console.log(val)
          var choices = ["upper", "lower", "upperKey", "lowerKey"]
          choices = choices.filter(item => item !== val)
          document.getElementById(val).style.display = "block"
          choices.forEach(displayNone)
        }
        function caps() {
          if (document.getElementById("capsLock").checked) { capsBool = true } else { capsBool = false }
          if (keyBool && capsBool) { setDisplay("upperKey") } else if (keyBool && !capsBool) { setDisplay("lowerKey") } else if (!keyBool && capsBool) { setDisplay("upper") } else { setDisplay("lower") }
        }
        function showKey() {
          if (document.getElementById("showKey").checked) {
            keyBool = true
            document.getElementById("backSpace").style.display = "none"
            document.getElementById("spaceBack").style.display = "inline"
          } else {
            keyBool = false
            document.getElementById("backSpace").style.display = "inline"
            document.getElementById("spaceBack").style.display = "none"
          }
          if (keyBool && capsBool) { setDisplay("upperKey") } else if (keyBool && !capsBool) { setDisplay("lowerKey") } else if (!keyBool && capsBool) { setDisplay("upper") } else { setDisplay("lower") }
        }
        function back() {
          var content = document.getElementById("userInput").value
          document.getElementById("userInput").value = content.slice(0, pos-1) + content.slice(pos)
          if (pos != 0) { pos -= 1 }
        }
        function app() {
          var inputVal = input.value
          document.getElementById("div_1").style.display = "none"
          document.getElementById("div_2").style.display = "block"
          div1Display = false
          var targeted = document.getElementById("wrong")
          if (members.concat(membersPlus).includes(inputVal)) {
            targeted.innerHTML = "Correct!"
            targeted.style.color = "#72d61a"
            document.getElementById("corrected").style.color = "#72d61a"
          } else if (inputVal !== "") { targeted.innerHTML = inputVal + " is incorrect:" }
          console.log(members.concat(membersPlus))
        }
        function typing(val) {
          var content = document.getElementById("userInput").value
          var ind = content.slice(pos-1, pos)
          var posBool = false
          var modify = false
          if (['ᾳ', 'a!', 'ᾼ', 'A!'].includes(val)) {
            if (Object.keys(iotaDict).includes(ind)) {
              letter = iotaDict[ind]
              modify = true
            } else { return }
          } else if (['ἁ', '\'a', 'Ἁ', '\'A'].includes(val)) {
            if (Object.keys(roughDict).includes(ind)) {
              letter = roughDict[ind]
              modify = true
            } else { return }
          } else if (convKey[val] === undefined) {
            letter = val
            posBool = true
          } else {
            letter = convKey[val]
            posBool = true
          }
          if (ind == 'ς') {
            document.getElementById("userInput").value = content.slice(0, pos-1) + 'σ' + letter + content.slice(pos)
            pos += 1
          } else if (modify) {
            document.getElementById("userInput").value = content.slice(0, pos-1) + letter + content.slice(pos)
          } else {
            document.getElementById("userInput").value = content.slice(0, pos) + letter + content.slice(pos)
            if (posBool) { pos += 1 }
          }
        }
        function revHint() {
          document.getElementById("letter1").style.display = "inline"
          document.getElementById("hintButton").disabled = true
        }
        function updateContext() {
          fetch("{% url 'updateEngVocabInput' %}", {
            method: "GET",
            headers: {"X-Requested-With": "XMLHttpRequest"}
          })
          .then(res => res.json())
          .then(data => {
            const jsonDct = {}
            data.context.forEach(([key, val]) => jsonDct[key] = val)
            corrNum = jsonDct['num_case']
            members = jsonDct['members_list'].split(',').map(e => e.replace("&#x27;", "'"))
            members.push(jsonDct['ans_eng'].replace("&#x27;", "'"))
            membersPlus = members.filter(plusFilter).map(plusFunction)
            document.getElementById("starter").innerHTML = jsonDct['ans_word_shaven']
            document.getElementById("corrected").innerHTML = `${jsonDct['ans_greek_full']}:<br>${jsonDct['ans_word']}`
            document.getElementById("wrong").style.color = "#f7510a"
            document.getElementById("wrong").innerHTML = "Incorrect!"
            document.getElementById("corrected").style.color = "#f7510a"
            document.getElementById("userInput").value = ""
            document.getElementById("letter1").style.display = "none"
            document.getElementById("hintButton").disabled = false
            document.getElementById("letter1").innerHTML = ` ${jsonDct['letter1']}...`
            inputVal = ""
            pos = 0
            document.getElementById("div_1").style.display = "block"
            document.getElementById("div_2").style.display = "none"
            div1Display = true
          })
        }
    </script>
</body>
</html>