<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: AS Vocab Greek Typed</title>
    <link rel="stylesheet" href="{% static 'home/noun_button_style.css' %}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')
        #div_1 {}
        #div_2 { display: none }
    </style>
</head>
<body>
<div id="div_1">
    Translate <span style="color:#02c3e0;">{{ ans_greek }}</span><br>
    <input id="userInput" type="text" placeholder="English" maxLength="64" style="width: 300px; font-size: 25pt; margin-top: 15px; margin-bottom: 15px;" >
    <button id="pogBtn" onclick="app()" style="padding: 0px 20px; height: 45px; font-size: 22pt;">Submit</button><br>
    <a href="/home">Home</a>
</div>
<div id="div_2">
    <p><span id="wrong" style="color:#f7510a">Incorrect!</span></p><span id="corrected" style="color:#f7510a;">{{ ans_greek }}:<br>{{ ans_word }}</span>
        <br><br><br><a href='/home/vocab_greek_input'>nice</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/home">Home</a>
</div>
    <script type="text/javascript">
        const members = {{ ans_word_list|safe }}.map(e => { return e.toLowerCase().replace(/\([^()]*\)/g, '') })
        const input = document.getElementById("userInput")
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
            document.getElementById("pogBtn").click()
          }
        })
        function app() {
          document.getElementById("div_1").style.display = "none"
          document.getElementById("div_2").style.display = "block"
          var targeted = document.getElementById("wrong")
          var ansBool = 2
          var input = document.getElementById("userInput").value
          var ans = input.split(",").map(e => { return e.toLowerCase().trim().replace(/\([^()]*\)/g, '') })
          console.log(ans)
          var ansFiltered = ans.filter(element => members.includes(element))
          if (ans.length != ansFiltered.length) { if (ansFiltered.length > 0) { ansBool = 1 } else { ansBool = 0 } }
          console.log(members, ans, ansFiltered)
          if (ansBool == 2) {
            targeted.innerHTML = "Correct!"
            targeted.style.color = "#72d61a"
            document.getElementById("corrected").style.color = "#72d61a"
          } else if (ansBool == 1) {
            targeted.style.color = "#f7510a"
            correct = ansFiltered.toString().replace(",", ", ")
            incorrect = ans.filter(e => !ansFiltered.includes(e)).toString().replace(",", ", ")
            targeted.innerHTML = `<span style='color:#ffbb00;'>${input}</span> is incorrect`
            document.getElementById("corrected").style.color = "#f7510a"
          } else if (input.length != 0) {
            targeted.style.color = "#f7510a"
            targeted.innerHTML = `${input} is incorrect`
            document.getElementById("corrected").style.color = "#f7510a"
          }
        }
    </script>
</body>
</html>