<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Logeu</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')</style>
<link rel="stylesheet" href="{% static 'home/style.css' %}" />
</head>
<body>
    <h1>Logeu!</h1>
    <p>Logeu is a language learning tool made to test your Ancient Greek grammar and vocabulary: <a class="in_text" href="/home/about">for more information</a>.</p>
    <h3>Vocabulary</h3>
    <ul>
        <li><a href="/home/vocab_greek">AS Gre -> Eng</a></li>
        <li><a href="/home/vocab_greek_input/">AS Gre -> Eng Typed</a></li>
        <li><a href="/home/vocab_english">AS Eng -> Gre</a></li>
        <li><a href="/home/vocab_english_input">AS Eng -> Gre Typed</a></li>
        <li><a href="/home/verbs">Irregular Verbs</a></li>
    </ul>
    <h3>Grammar</h3>
    <ul>
        <li><a href="/home/nouns">Noun Endings</a></li>
        <li><a href="/home/noun_input">Noun Endings Typed</a></li>
    </ul>
</body>
</html>
