<!DOCTYPE html>
{% load static %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Logeu</title>
    <style>@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')</style>
<link rel="stylesheet" href="{% static 'home/style.css' %}" />
</head>
<body>
    <h1>Logeu!</h1>
    <p>Logeu is a learning tool which tests your Ancient Greek grammar and vocabulary. As of now, it works with AS vocab, irregular verb vocab and noun endings: it's still an early prototype with more features to come. If you spot a bug or have any queries, please contact me at loguequeries@gmail.com or via Discord, at CEO of meow#0360.</p>
    <ul>
        <li><a href="/home/verbs">Irregular Verb Vocab</a></li>
        <li><a href="/home/nouns">Noun Endings</a></li>
        <li><a href="/home/vocab">AS Vocab</a></li>
    </ul>
</body>
</html>
