<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: Nouns</title>
    <link rel="stylesheet" id="styleSheet" href="{% static 'home/appStyle.css' %}" />
    <script type="text/javascript">
        if (localStorage.getItem("theme") == "dark-mode") { document.write("<link rel='stylesheet' id='styleSheet' href='{% static 'home/appStyleDark.css' %}'/>") }
    </script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')
        #div_1 {}
        #div_2 { display: none }
    </style>
</head>
<body>
<div id="div_0">
    <ul>
      <li><a href="/home">Home</a>&emsp; | &emsp;<a href="/home/about">About</a></li>
    </ul>
</div>
<div id="div_1">
    <p><button class="button" id="b1" onclick="app(this.id)">{{ word1 }}</button><br>
        <button class="button" id="b2" onclick="app(this.id)">{{ word2 }}</button><br>
        <button class="button" id="b3" onclick="app(this.id)">{{ word3 }}</button><br>
        <button class="button" id="b4" onclick="app(this.id)">{{ word4 }}</button></p>
    <font id="starter" size="+3">{{ ans_word }}</font>
</div>
<div id="div_2">
    <span id="wrong" style="color:#f7510a">Incorrect!</span><br><span id="corrected">{{ ans_word }} is {{ ans_case }}</span>
    <table>
      <thead>
        <tr>
          <th id="topLeft"></th>
          <th>Singular</th>
          <th>Plural</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: 600">Nominative</td>
          <td id="t1">{{ table1 }}</td>
          <td id="t5">{{ table5 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Accusative</td>
          <td id="t2">{{ table2 }}</td>
          <td id="t6">{{ table6 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Genitive</td>
          <td id="t3">{{ table3 }}</td>
          <td id="t7">{{ table7 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Dative</td>
          <td id="t4">{{ table4 }}</td>
          <td id="t8">{{ table8 }}</td>
        </tr>
      </tbody>
    </table>
    <input type="button" class="palin" value="πάλιν" onclick="updateContext()">
</div>
    <script type="text/javascript">
        if (localStorage.getItem("theme") == "dark-mode") { document.getElementById("topLeft").style.backgroundColor = "#393842" }
        const relation = {
          'word1': 'b1',
          'word2': 'b2',
          'word3': 'b3',
          'word4': 'b4',
          'table1': 't1',
          'table2': 't2',
          'table3': 't3',
          'table4': 't4',
          'table5': 't5',
          'table6': 't6',
          'table7': 't7',
          'table8': 't8'
        }
        var corrCase = "{{ans_case}}"
        var numCase = "{{num_case}}"
        function app(id) {
          document.getElementById("div_1").style.display = "none"
          document.getElementById("div_2").style.display = "block"
          var targeted = document.getElementById("wrong")
          var guess = document.getElementById(id).innerHTML
          if (guess == corrCase) {
            targeted.innerHTML = "Correct!"
            targeted.style.color = "#72d61a"
          } else { targeted.innerHTML = guess + " is incorrect:" }
          document.getElementById("t" + numCase).style.backgroundColor = targeted.style.color
        }
        function updateContext() {
          fetch("{% url 'updateNoun' %}", {
            method: "GET",
            headers: {
              "X-Requested-With": "XMLHttpRequest"
            }
          })
          .then(res => res.json())
          .then(data => {
            const jsonDct = {}
            data.context.forEach(([key, val]) => jsonDct[key] = val)
            corrCase = jsonDct['ans_case']
            document.getElementById("starter").innerHTML = jsonDct['ans_word']
            document.getElementById("corrected").innerHTML = `${jsonDct['ans_word']} is ${jsonDct['ans_case']}`
            for (var key in relation) { document.getElementById(relation[key]).innerHTML = jsonDct[key] }
            document.getElementById("wrong").style.color = "#f7510a"
            document.getElementById("wrong").innerHTML = "Incorrect!"
            document.getElementById("div_1").style.display = "block"
            document.getElementById("div_2").style.display = "none"
          })
        }
    </script>
</body>
</html>