<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: Nouns Typed</title>
    <link rel="stylesheet" href="{% static 'home/noun_button_style.css' %}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')
        #div_1 {}
        #div_2 {
            display: none
            }
    </style>
</head>
<body>
<div id="div_1">
    What is {{ ans_base }} in the {{ ans_case }}?<br>
    <input id="userInput" type="text" placeholder="Greek" style="width: 300px; font-size: 25pt; margin-top: 15px; margin-bottom: 15px;" >
    <button id="pogBtn" onclick="app()" style="width: 150px; height: 45px; font-size: 22pt;">Submit</button><br>
    <span style="font-size: 22px;">Answer using a Greek keyboard, or with the below answer key.</span>
    <table class="keyTable">
      <tbody>
        <tr>
          <td>α</td><td>ἁ</td><td>ᾳ</td><td>β</td><td>γ</td><td>δ</td><td>ε</td><td>ζ</td><td>η</td><td>θ</td><td>ι</td><td>κ</td><td>λ</td>
        </tr>
        <tr>
          <td>a</td><td>'a</td><td>a!</td><td>b</td><td>g</td><td>d</td><td>e</td><td>z</td><td>n</td><td>th</td><td>i</td><td>k</td><td>l</td>
        </tr>
        <tr>
          <td>μ</td><td>ν</td><td>ξ</td><td>ο</td><td>π</td><td>ρ</td><td>σ</td><td>τ</td><td>υ</td><td>φ</td><td>χ</td><td>ψ</td><td>ω</td>
        </tr>
        <tr>
          <td>m</td><td>v</td><td>ks</td><td>o</td><td>p</td><td>r</td><td>s</td><td>t</td><td>u</td><td>ph</td><td>x</td><td>ps</td><td>w</td>
        </tr>
      </tbody>
    </table>
    <a href="/home">Home</a>
</div>
<div id="div_2">
    <span id="wrong" style="color:#f7510a">Incorrect!</span><br><span id="corrected">{{ ans_word }} is the {{ ans_case }} of {{ ans_base }}</span>
    <table>
      <thead>
        <tr>
          <th>Case</th>
          <th>Singular</th>
          <th>Plural</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: 600">Nominative</td>
          <td>{{ table1 }}</td>
          <td>{{ table5 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Accusative</td>
          <td>{{ table2 }}</td>
          <td>{{ table6 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Genitive</td>
          <td>{{ table3 }}</td>
          <td>{{ table7 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Dative</td>
          <td>{{ table4 }}</td>
          <td>{{ table8 }}</td>
        </tr>
      </tbody>
    </table>
    <a href='/home/noun_input'>nice</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/home">Home</a>
</div>
    <script type="text/javascript">
        var input = document.getElementById("userInput")
        input.addEventListener("keyup", function(event) {
            if (event.keyCode === 13) {
                event.preventDefault()
                document.getElementById("pogBtn").click()
            }
        })
        function app() {
          document.getElementById("div_1").style.display = "none"
          document.getElementById("div_2").style.display = "block"
          var target = document.getElementById("wrong")
          const members = ["{{ans_word}}", "{{ans_simp1}}", "{{ans_simp2}}", "{{ans_simp3}}", "{{ans_eng}}".replace("&#x27;", "'")]
          if (members.includes(input.value)) {
            target.innerHTML = "Correct!"
            target.style.color = "#72d61a"
            document.getElementById("corrected").style.display = "none"
          } else if (input.value !== "") {
            target.innerHTML = input.value + " is incorrect:"
          }
        }
    </script>
</body>
</html>