<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: Nouns</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
    <style>
        #div_1 {
            width: 100%;
            }
        #div_2 {
            width: 100%;
            display: none;
            }
    </style>
</head>
<body>
<div id="div_1">
    <p><button class="button" onclick="disappear();appear();">{{ word1 }}</button><br><button class="button" onclick="disappear();appear();">{{ word2 }}</button><br><button class="button" onclick="disappear();appear();">{{ word3 }}</button><br><button class="button" onclick="disappear();appear();">{{ word4 }}</button><br></p>
    <p>{{ ans_case }}</p>
    <p><a href="/home">Home</a></p>
</div>
<div id="div_2">
    <p>The answer was:</p>
    <p>{{ ans_word }}<br>Is {{ ans_case }}</p>
    <a href='/home/nouns'>nice</a><br><br><a href="/home">Home</a>
</div>
<script>
        function appear() {
          var x = document.getElementById("div_2");
          x.style.display = "block"
        }
        function disappear() {
          var x = document.getElementById("div_1");
          x.style.display = "none"
        }
</script>
</body>
</html>