<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: Nouns</title>
    <link rel="stylesheet" href="{% static 'home/noun_button_style.css' %}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')
        #div_1 {}
        #div_2 {
            display: none
            }
    </style>
</head>
<body>
<div id="div_1">
    <p><button class="button" id="b1" onclick="app(this.id)">{{ word1 }}</button><br>
        <button class="button" id="b2" onclick="app(this.id)">{{ word2 }}</button><br>
        <button class="button" id="b3" onclick="app(this.id)">{{ word3 }}</button><br>
        <button class="button" id="b4" onclick="app(this.id)">{{ word4 }}</button></p>
    <font size="+3">{{ ans_word }}</font>
    <p><a href="/home">Home</a></p>
</div>
<div id="div_2">
    <span id="wrong" style="color:#f7510a">Incorrect!</span><br>{{ ans_word }} is {{ ans_case }}
    <table>
      <thead>
        <tr>
          <th></th>
          <th>Singular</th>
          <th>Plural</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: 600">Nominative</td>
          <td>{{ table1 }}</td>
          <td>{{ table5 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Accusative</td>
          <td>{{ table2 }}</td>
          <td>{{ table6 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Genitive</td>
          <td>{{ table3 }}</td>
          <td>{{ table7 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Dative</td>
          <td>{{ table4 }}</td>
          <td>{{ table8 }}</td>
        </tr>
      </tbody>
    </table>
    <a href='/home/nouns'>nice</a>&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/home">Home</a>
</div>
    <script type="text/javascript">
        function app(id) {
          document.getElementById("div_1").style.display = "none"
          document.getElementById("div_2").style.display = "block"
          var target = document.getElementById("wrong")
          var guess = document.getElementById(id).innerHTML
          if (guess == "{{ans_case}}") {
            target.innerHTML = "Correct!"
            target.style.color = "#72d61a"
          } else {
            target.innerHTML = guess + " is incorrect:"
          }
        }
    </script>
</body>
</html>