<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: Nouns Typed</title>
    <link rel="stylesheet" id="styleSheet" href="{% static 'home/appStyle.css' %}" />
    <style type="text/javascript">
        (function () { if (localStorage.getItem("theme") == "dark-mode") { document.getElementById("styleSheet").href = '{% static 'home/appStyleDark.css' %}'; var modeRed = "#ed370e" } else { document.getElementById("styleSheet").href = '{% static 'home/appStyle.css' %}'; var modeRed = "#f7510a" } })()
    </style>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')
        #div_1 {}
        #div_2 { display: none }
    </style>
</head>
<body>
<div id="div_1">
    What is <span id="starterBase" class="questionWord">{{ ans_base }}</span> in the <span id="starterCase">{{ ans_case }}?</span><br>
    <input id="userInput" type="text" placeholder="Greek" maxlength="32" style="width: 300px; font-size: 25pt; margin-top: 15px; margin-bottom: 15px;" >
    <button id="pogBtn" onclick="app()" style="width: 150px; height: 45px; font-size: 22pt;">Submit</button><br>
    <p style="font-size:21px;margin:0px 0px;line-height:1.5;">Answer with a Greek keyboard (no accents), or by using the below keyboard/key: to view the key, toggle 'showKey' on.</p>
    <table id="lowerKey" class="keyTable" style="display:none;">
      <tbody>
        <tr>
            {% for i in key_lst1 %}<td style="padding: 3px 15px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in key_lst2 %}<td style="padding: 3px 15px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in key_lst3 %}<td style="padding: 3px 15px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in key_lst4 %}<td style="padding: 3px 15px;">{{ i }}</td>{% endfor %}
        </tr>
      </tbody>
    </table>
    <table id="upperKey" class="keyTable" style="display:none;">
      <tbody>
        <tr>
            {% for i in up_key_lst1 %}<td style="padding: 3px 13.375px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in up_key_lst2 %}<td style="padding: 3px 13.375px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in up_key_lst3 %}<td style="padding: 3px 13.375px;">{{ i }}</td>{% endfor %}
        </tr>
        <tr>
            {% for i in up_key_lst4 %}<td style="padding: 3px 13.375px;">{{ i }}</td>{% endfor %}
        </tr>
      </tbody>
    </table>
    <table id="lower" class="keyTable">
      <tbody>
        <tr>
            {% for i in key_lst1 %}<td><input class="inTable" type="submit" onclick="typing(this.value)" value="{{ i }}" /></td>{% endfor %}
        </tr>
        <tr>
            {% for i in key_lst3 %}<td><input class="inTable" type="submit" onclick="typing(this.value)" value="{{ i }}" /></td>{% endfor %}
        </tr>
      </tbody>
    </table>
    <table id="upper" class="keyTable" style="display: none;">
      <tbody>
        <tr>
            {% for i in up_key_lst1 %}<td><input class="inTable" type="submit" onclick="typing(this.value)" value="{{ i }}" style="margin: 0px 3.375px;"/></td>{% endfor %}
        </tr>
        <tr>
            {% for i in up_key_lst3 %}<td><input class="inTable" type="submit" onclick="typing(this.value)" value="{{ i }}" style="margin: 0px 3.375px;"/></td>{% endfor %}
        </tr>
      </tbody>
    </table>
    <label class="switch" style="margin-right:3px;margin-left:0px;"><input id="capsLock" type="checkbox" onclick="caps()"><span class="slider"></span></label>caps<label class="switch" style="margin-right:3px;margin-left:12px;"><input id="showKey" type="checkbox" onclick="showKey()"><span class="slider"></span></label>showKey<button id="backSpace" onclick="back()" style="padding:0px 16px;height:45px;font-size:22pt;margin-left:12px;">delete</button><span id="spaceBack" style="display:none;">&emsp;&emsp;&emsp;&emsp;&emsp;&nbsp;</span>&nbsp;&emsp;&emsp;&emsp;<a href="/home">Home</a>
</div>
<div id="div_2">
    <span id="wrong" style="color:#72d61a">Incorrect!</span><br><span id="corrected">{{ ans_word }} is the {{ ans_case }} of {{ ans_base }}</span>
    <table>
      <thead>
        <tr>
          <th style="background-color:#393842;"></th>
          <th>Singular</th>
          <th>Plural</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: 600">Nominative</td>
          <td id="t1">{{ table1 }}</td>
          <td id="t5">{{ table5 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Accusative</td>
          <td id="t2">{{ table2 }}</td>
          <td id="t6">{{ table6 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Genitive</td>
          <td id="t3">{{ table3 }}</td>
          <td id="t7">{{ table7 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">Dative</td>
          <td id="t4">{{ table4 }}</td>
          <td id="t8">{{ table8 }}</td>
        </tr>
      </tbody>
    </table>
    <input type="button" value="nice" onclick="updateContext()">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<a href="/home">Home</a>
</div>
    <script type="text/javascript">
        // >spaghettiScript //
        (function () { if (localStorage.getItem("theme") == "dark-mode") { document.getElementById("styleSheet").href = '{% static 'home/appStyleDark.css' %}'; var modeRed = "#ed370e" } else { document.getElementById("styleSheet").href = '{% static 'home/appStyle.css' %}'; var modeRed = "#f7510a" } })()
        const relation = {
          'table1': 't1',
          'table2': 't2',
          'table3': 't3',
          'table4': 't4',
          'table5': 't5',
          'table6': 't6',
          'table7': 't7',
          'table8': 't8'
        }
        var corrNum = "{{num_case}}"
        var members = "{{members_list}}".split(',')
        members.push("{{ans_eng}}".replace("&#x27;", "'"))
        var membersNu = members.filter(nuFilter).map(nuFunction)
        const iotaDict = {'Η': 'ᾘ', 'Α': 'ᾈ', 'Ω': 'ᾨ', 'Ἡ': 'ᾙ', 'Ὡ': 'ᾩ', 'Ἁ': 'ᾉ', 'α': 'ᾳ', 'η': 'ῃ', 'ω': 'ῳ', 'ὡ': 'ᾡ', 'ἁ': 'ᾁ', 'ἡ': 'ᾑ'}
        const roughDict = {'Ε': 'Ἑ', 'Α': 'Ἁ', 'Ι': 'Ἱ', 'Υ': 'Ὑ', 'Η': 'Ἡ', 'Ρ': 'Ῥ', 'Ο': 'Ό', 'Ω': 'Ὡ', 'ᾨ': 'ᾩ', 'ᾈ': 'ᾉ', 'ᾘ': 'ᾙ', 'ι': 'ἱ', 'υ': 'ὑ', 'η': 'ἡ', 'ρ': 'ῥ', 'ο': 'ὁ', 'ε': 'ἑ', 'α': 'ἁ', 'ω': 'ὡ', 'ῳ': 'ᾡ', 'ᾳ': 'ᾁ', 'ῃ': 'ᾑ'}
        const convKey = {'A': 'Α', '\'A': 'Ἁ', 'A!': 'ᾼ', 'B': 'Β', 'G': 'Γ', 'D': 'Δ', 'E': 'Ε', 'Z': 'Ζ', 'N': 'Η', 'TH': 'Θ', 'I': 'Ι', 'K': 'Κ', 'L': 'Λ', 'M': 'Μ', 'V': 'Ν', 'KS': 'Ξ', 'O': 'Ο', 'P': 'Π', 'R': 'Ρ', 'S': 'Σ', 'T': 'Τ', 'U': 'Υ', 'PH': 'Φ', 'X': 'Χ', 'PS': 'Ψ', 'W': 'Ω', 'a': 'α', '\'a': 'ἁ', 'a!': 'ᾳ', 'b': 'β', 'g': 'γ', 'd': 'δ', 'e': 'ε', 'z': 'ζ', 'n': 'η', 'th': 'θ', 'i': 'ι', 'k': 'κ', 'l': 'λ', 'm': 'μ', 'v': 'ν', 'ks': 'ξ', 'o': 'ο', 'p': 'π', 'r': 'ρ', 's': 'ς', 't': 'τ', 'u': 'υ', 'ph': 'φ', 'x': 'χ', 'ps': 'ψ', 'w': 'ω', 'σ': 'ς'}
        var input = document.getElementById("userInput")
        var inputVal = ""
        var pos = 0
        var capsBool = false
        var keyBool = false
        input.addEventListener("keyup", function(event) {
          if (event.keyCode === 13) {
            document.getElementById("pogBtn").click()
          } else { pos += 1 }
        })
        input.addEventListener('click', e => { pos = e.target.selectionEnd })
        function nuFilter(value, index, array) { return (value.slice(-3) == "(ν)" || value.slice(-3) == "(v)") }
        function nuFunction(value, index, array) { return value.slice(0, -3) }
        function displayNone(value) { document.getElementById(value).style.display = "none" }
        function setDisplay(val) {
          var choices = ["upper", "lower", "upperKey", "lowerKey"]
          choices = choices.filter(item => item !== val)
          document.getElementById(val).style.display = "block"
          choices.forEach(displayNone)
        }
        function caps() {
          if (document.getElementById("capsLock").checked) { capsBool = true } else { capsBool = false }
          if (keyBool && capsBool) { setDisplay("upperKey") } else if (keyBool && !capsBool) { setDisplay("lowerKey") } else if (!keyBool && capsBool) { setDisplay("upper") } else { setDisplay("lower") }
        }
        function showKey() {
          if (document.getElementById("showKey").checked) {
            keyBool = true
            document.getElementById("backSpace").style.display = "none"
            document.getElementById("spaceBack").style.display = "inline"
          } else {
            keyBool = false
            document.getElementById("backSpace").style.display = "inline"
            document.getElementById("spaceBack").style.display = "none"
          }
          if (keyBool && capsBool) { setDisplay("upperKey") } else if (keyBool && !capsBool) { setDisplay("lowerKey") } else if (!keyBool && capsBool) { setDisplay("upper") } else { setDisplay("lower") }
        }
        function back() {
          var content = document.getElementById("userInput").value
          document.getElementById("userInput").value = content.slice(0, pos-1) + content.slice(pos)
          if (pos != 0) { pos -= 1 }
        }
        function app() {
          inputVal = input.value
          document.getElementById("div_1").style.display = "none"
          document.getElementById("div_2").style.display = "block"
          var targeted = document.getElementById("wrong")
          if (members.concat(membersNu).includes(inputVal)) {
            targeted.innerHTML = "Correct!"
            targeted.style.color = "#72d61a"
          } else if (inputVal !== "") { targeted.innerHTML = inputVal + " is incorrect:"; targeted.style.color = modeRed } else { targeted.style.color = modeRed }
          document.getElementById("t" + corrNum).style.backgroundColor = targeted.style.color
        }
        function typing(val) {
          var content = document.getElementById("userInput").value
          var ind = content.slice(pos-1, pos)
          var posBool = false
          var modify = false
          if (['ᾳ', 'a!', 'ᾼ', 'A!'].includes(val)) {
            if (Object.keys(iotaDict).includes(ind)) {
              letter = iotaDict[ind]
              modify = true
            } else { return }
          } else if (['ἁ', '\'a', 'Ἁ', '\'A'].includes(val)) {
            if (Object.keys(roughDict).includes(ind)) {
              letter = roughDict[ind]
              modify = true
            } else { return }
          } else if (convKey[val] === undefined) {
            letter = val
            posBool = true
          } else {
            letter = convKey[val]
            posBool = true
          }
          if (ind == 'ς') {
            document.getElementById("userInput").value = content.slice(0, pos-1) + 'σ' + letter + content.slice(pos)
            pos += 1
          } else if (modify) {
            document.getElementById("userInput").value = content.slice(0, pos-1) + letter + content.slice(pos)
          } else {
            document.getElementById("userInput").value = content.slice(0, pos) + letter + content.slice(pos)
            if (posBool) { pos += 1 }
          }
        }
        function updateContext() {
          fetch("{% url 'updateNounInput' %}", {
            method: "GET",
            headers: {"X-Requested-With": "XMLHttpRequest"}
          })
          .then(res => res.json())
          .then(data => {
            const jsonDct = {}
            data.context.forEach(([key, val]) => jsonDct[key] = val)
            document.getElementById("t" + corrNum).style.backgroundColor = "transparent"
            corrNum = jsonDct['num_case']
            members = jsonDct['members_list'].split(',')
            members.push(jsonDct['ans_eng'].replace("&#x27;", "'"))
            membersNu = members.filter(nuFilter).map(nuFunction)
            document.getElementById("starterBase").innerHTML = jsonDct['ans_base']
            document.getElementById("starterCase").innerHTML = `${jsonDct['ans_case']}?`
            document.getElementById("corrected").innerHTML = `${jsonDct['ans_word']} is the ${jsonDct['ans_case']} of ${jsonDct['ans_base']}`
            for (var key in relation) { document.getElementById(relation[key]).innerHTML = jsonDct[key] }
            document.getElementById("wrong").style.color = modeRed
            document.getElementById("wrong").innerHTML = "Incorrect!"
            document.getElementById("userInput").value = ""
            inputVal = ""
            pos = 0
            document.getElementById("div_1").style.display = "block"
            document.getElementById("div_2").style.display = "none"
          })
        }
    </script>
</body>
</html>