<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: Verb Endings</title>
    <link rel="stylesheet" id="styleSheet" href="{% static 'home/appStyle.css' %}" />
    <script type="text/javascript">
        if (localStorage.getItem("theme") == "dark-mode") { document.write("<link rel='stylesheet' id='styleSheet' href='{% static 'home/appStyleDark.css' %}'/>") }
    </script>
    <style>@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')</style>
</head>
<body>
<div id="div_0">
    <ul>
      <li><a href="/home">Home</a>&emsp; | &emsp;<a href="/home/about">About</a></li>
    </ul>
</div>
<div id="div_1">
    Parse <span id="starter" style="color:#02c3e0;">{{ ans_greek }}</span><br>
    <span id="nots" style="display: none;">[not ({% for i in nots %}{{ i }}, {% endfor %})]</span><br>
    <span id="tier1">{% for i in tier1 %}<label class="container"><input type="radio" name="0" onclick="editCode({{forloop.counter0}}, this.name)"><span class="checkmark">{{ i }}</span></label>{% endfor %}</span><br>
    <span id="tier2">{% for i in tier2 %}<label class="container"><input type="radio" name="1" onclick="editCode({{forloop.counter0}}, this.name)"><span class="checkmark">{{ i }}</span></label>{% endfor %}</span><br>
    <span id="tier3">{% for i in tier3 %}<label class="container"><input type="radio" name="2" onclick="editCode({{forloop.counter0}}, this.name)"><span class="checkmark">{{ i }}</span></label>{% endfor %}</span><br>
    <span id="tier4">{% for i in tier4 %}<label class="container"><input type="radio" name="3" onclick="editCode({{forloop.counter0}}, this.name)"><span class="checkmark">{{ i }}</span></label>{% endfor %}</span><br>
    <button id="pogBtn" class="infoPut" onclick="app()" style="margin-top: 15px;">Submit</button>
</div>
<div id="div_2">
    <span id="wrong" style="color:#f7510a">Incorrect!</span><br><span id="corrected">{{ ans_greek }} is the <span style="color:#02c3e0;">{{ ans_full }}</span></span>
    <table id="table">
      <thead>
        <tr>
          <th></th>
          <th>Singular</th>
          <th>Plural</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: 600">1st</td>
          <td id="t1">{{ table.0 }}</td>
          <td id="t4">{{ table.3 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">2nd</td>
          <td id="t2">{{ table.1 }}</td>
          <td id="t5">{{ table.4 }}</td>
        </tr>
        <tr>
          <td style="font-weight: 600">3rd</td>
          <td id="t3">{{ table.2 }}</td>
          <td id="t6">{{ table.5 }}</td>
        </tr>
      </tbody>
    </table>
    <table id="table0" style="display: none;">
      <thead>
        <tr>
          <th></th>
          <th>Masc.</th>
          <th>Fem.</th>
          <th>Neut.</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td style="font-weight: 600">1st</td>
          <td id="to1">{{ table.0 }}</td>
          <td id="to2">{{ table.1 }}</td>
          <td id="to3">{{ table.2 }}</td>
        </tr>
      </tbody>
    </table>
    <br><input type="button" class="palin" value="πάλιν" onclick="updateContext()">
</div>
    <script type="text/javascript">
        var ansCode = "{{ans_code}}"
        var current = [null, null, null]
        var last = ""
        var corrLast = "{{ans_num}}"
        var ansLen = "{{ans_len}}"
        var nots = {{py_nots}}
        if (nots.length > 0) { document.getElementById("nots").style.display = "block" }
        setTable(ansLen)
        function setTable(num) {
          if (num == 1) {
            document.getElementById("table").style.display = "none"
          } else if (num == 3) {
            document.getElementById("table0").style.display = "table"
            document.getElementById("table").style.display = "none"
          }
        }
        function editCode(val, name) {
          if (name === 3) {
            last = val
          } else {
            current[name] = val
          }
        }
        function app() {
          var targeted = document.getElementById("wrong")
          if ((current.toString() === ansCode) || (current.toString().slice(-7) === ansCode) || ((current.toString().slice(0, 2) === ansCode.slice(0, 2)) && (ansLen == 1))) {
            targeted.style.color = "#72d61a"
            targeted.innerHTML = "Correct!"
          }
          if (document.getElementById("table").style.display === "none") {
            let numb = Number(corrLast) + 1
            document.getElementById("to" + numb).style.backgroundColor = targeted.style.color
          } else {
            let numb = Number(corrLast) + 1
            document.getElementById("t" + numb).style.backgroundColor = targeted.style.color
          }
          document.getElementById("div_1").style.display = "none"
          document.getElementById("div_2").style.display = "block"
        }
        function updateContext() {
          fetch("{% url 'updateVerbEndings' %}", {
            method: "GET",
            headers: {
              "X-Requested-With": "XMLHttpRequest"
            }
          })
          .then(res => res.json())
          .then(data => {
            const jsonDct = {}
            data.context.forEach(([key, val]) => jsonDct[key] = val)
            if (document.getElementById("table").style.display === "none") {
              let numb = Number(corrLast) + 1
              document.getElementById("to" + numb).style.backgroundColor = "transparent"
            } else {
              let numb = Number(corrLast) + 1
              document.getElementById("t" + numb).style.backgroundColor = "transparent"
            }
            ansCode = jsonDct['ans_code']
            current = [null, null, null]
            last = ""
            corrLast = jsonDct['ans_num']
            ansLen = jsonDct['ans_len']
            nots = jsonDct['py_nots']
            document.getElementById("nots").style.display = "none"
            if (nots.length > 0) { document.getElementById("nots").style.display = "block" }
            document.getElementById("table0").style.display = "none"
            document.getElementById("table").style.display = "table"
            setTable(ansLen)
            document.getElementById("starter").innerHTML = jsonDct['ans_greek']
            document.getElementById("corrected").innerHTML = `${jsonDct['ans_greek']} is the <span style="color:#02c3e0;">${jsonDct['ans_full']}</span>`
            document.getElementById("wrong").style.color = "#f7510a"
            document.getElementById("wrong").innerHTML = "Incorrect!"
            function newInput(num, arr) {
              let temp = ""
              arr.forEach(function (item, index) {
                temp = temp.concat(`<label class="container"><input type="radio" name="${num}" onclick="editCode(${index}, this.name)"><span class="checkmark">${item}</span></label>`)
              })
              return temp
            }
            let nums0 = [1, 2, 3, 4]
            document.getElementById("tier1").innerHTML = newInput(1, jsonDct['tier1'])
            document.getElementById("tier2").innerHTML = newInput(2, jsonDct['tier2'])
            document.getElementById("tier3").innerHTML = newInput(3, jsonDct['tier3'])
            document.getElementById("tier4").innerHTML = newInput(4, jsonDct['tier4'])
            let nums1 = [0, 1, 2, 3, 4, 5]
            nums1.forEach(function (i) {
              document.getElementById("t".concat(i+1)).innerHTML = jsonDct['table'][i]
            })
            document.getElementById("div_1").style.display = "block"
            document.getElementById("div_2").style.display = "none"
          })
        }
    </script>
</body>
</html>