<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: Verbs</title>
    <link rel="stylesheet" href="{% static 'home/style.css' %}" />
</head>
<body>
<p><a href="/home/verbs/answer/" class="button">{{ word1 }}</a><br><a href="/home/verbs/answer/" class="button">{{ word2 }}</a><br><a href="/home/verbs/answer/" class="button">{{ word3 }}</a><br><a href="/home/verbs/answer/" class="button">{{ word4 }}</a><br><a href="/home/verbs/answer/" class="button">{{ word5 }}</a></p>
<p>{{ ans_word }}</p>
<p><a href="/home">Home</a></p>
</body>
</html>