<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Logeu: AS Vocab Greek</title>
    <link rel="stylesheet" href="{% static 'home/vocab_button_style.css' %}" />
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap')
        #div_1 {}
        #div_2 {
            display: none
            }
    </style>
</head>
<body>
    <div id="div_1">
        <p><button class="button" id="b1" onclick="app(this.id)">{{ word1 }}</button><br>
            <button class="button" id="b2" onclick="app(this.id)">{{ word2 }}</button><br>
            <button class="button" id="b3" onclick="app(this.id)">{{ word3 }}</button><br>
            <button class="button" id="b4" onclick="app(this.id)">{{ word4 }}</button><br>
            <button class="button" id="b5" onclick="app(this.id)">{{ word5 }}</button></p>
        <p>{{ ans_word }}</p>
        <p><a href="/home">Home</a></p>
    </div>
    <div id="div_2">
        <p> <span id="wrong" style="color:#f7510a">Incorrect!</span><br>The answer was:<br><br>{{ ans_word }}<br>{{ ans_greek }}</p>
        <br><a href='/home/vocab_greek'>nice</a><br><br><a href="/home">Home</a>
    </div>
    <script type="text/javascript">
        function app(id) {
          document.getElementById("div_1").style.display = "none"
          document.getElementById("div_2").style.display = "block"
          var target = document.getElementById("wrong")
          var lst = "{{ ans_greek }}".split(",")
          if (lst.length > 2) {
            lst = lst.slice(0, 2)
          }
          if (document.getElementById(id).innerHTML == lst.join(',')) {
            target.innerHTML = "Correct!"
            target.style.color = "#72d61a"
          }
        }
    </script>
</body>
</html>